 .send-button{
        background-color: rgb(12, 192, 51); 
        color: white;
        border:none;
        padding : 12px 20px;
        border-radius: 10px;
        margin-left: 10px;
        font-size: 17px;
       
      }
      .input-text{
        padding: 12px 15px;
        border-width: 1px;
        border-radius: 8px;
        border-color: rgb(8, 7, 7);
       
        font-size: 15px;    
        flex-grow: 1;
      }

       
      .chat-input-container{
        display: flex;
        margin-bottom: 60px;
      }